body{
    margin: 0;
    padding: 4%;
    background: url(/images/Unpl1.jpg) no-repeat;
    background-size: 100% 100vh;
}
#app{
    border: 5px solid rgba(231, 231, 240, 0.123);
    width: 70%;
    margin: 0 auto;
    padding: 1%;
    border-radius: 15px;
}
#app1{
    display: grid;
    padding: 1%;
    /*on lui donne 4 colonnes de 25%*/
    grid-template-columns: 20% 20% 20% 20% 20%; 
    /*On lui donne une ligne de 50px et 5 lignes de 30px*/
    grid-template-rows: 60px repeat(7, 50px);
    /*Dessiner la grille*/
    grid-template-areas: 
       "res res res res res"
       "res res res res res"
       "res res res res res"
       "9 8 7 reset reset"
       "6 5 4 reset reset"
       "3 2 1 reset reset"
       "0 plus minus times div"
       "dot modulo equal equal equal"
    ;
    border:  5px solid rgba(231, 231, 240, 0.123);
    border-radius: 4px;
}

h2{
    text-align: right;
    font-size: 2rem;
    background-color: yellow;
    margin: 3px;
    border: 5px solid white;
    /*L'espace qu'occupe le résultat*/
    grid-area: res;
}

button{
    background: blue;
    color: white;
    border-radius: 5px;
    margin: 3px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    font-size: 2rem;
    border: none;
}

button:hover{
    background: rgba(20, 20, 173, 0.712);
}

#egal{
    grid-area: equal;
    background: rgba(6, 104, 6, 0.897);
}
#egal:hover{
    background: rgba(9, 177, 9, 0.863);
    transition: 0.4s;
}

#effacer{
    grid-area: reset;
    background: red;
    transition: 0.4s;
}
#effacer:hover{
    background: rgba(199, 12, 12, 0.897);
    transition: 0.4s;
}